*{
    box-sizing: border-box;
    margin: 0;
}
 /* header */
 .topNav{
    overflow: hidden;
    background-color: #333333;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .topNav a, .title{
    float: left;
    font-size: 22px;
    color: #333333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .title{
    color: white;
    float: right;
  }
  .homeMobile a{
    color: white;
    background-color: red;
  }
  .navBucket{
    float: left;
    overflow: hidden;
  }
  .navBucket .bucketButton{
    font-size: 22px;
    border: none;
    color: white;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .topNav a:hover, .navBucket:hover .bucketButton{
    background-color: gray;
  }
  .bucketItems{
    display: none;
    position: absolute;
    background-color: red;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .bucketItems a {
    float: none;
    color: white;
    background-color: #333333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .bucketItems a:hover{
    background-color: #333333;
  }
  .navBucket:hover .bucketItems{
    display: block;
  }
  @media screen and (min-width: 601px) {
    .mobileOnly {display: none;}
  }
  @media screen and (max-width: 600px) {
    .navBucket, .homeMobile {display: none;}
    .mobileOnly {
      float: left;
      display: block;
      background-color: red;;
    }
  }

/* Main */
main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}
main h2, h3, form{
    padding: 5px;
}
#allSubmit{
    display: flex;
    height: 100%;
    width: 100%;
    border: 5px red solid;
    justify-content: space-around;
}
@media screen and (max-width: 600px) {
    #allSubmit {
      display: block;
      background-color: white;
    }
  }
#allBacklog{
    display: flex;
    height: 100%;
    width: 100%;
    border: 5px blue solid;
    justify-content: space-around;
}
#allBacklog li{
    padding: 3px;
}
@media screen and (max-width: 600px) {
    #allBacklog li img, #allComplete li img {
      height: 80%;
      width: 85%;
    }
  }
#allBacklog ul, #allComplete li{
    list-style-type: none;
}
@media screen and (max-width: 600px) {
    #allBacklog ul, #allComplete ul {
      padding: 1px;
      background-color: white;
    }
  }
#tomContainerBacklog, #stephenContainerBacklog, #seanContainerBacklog{
    width: 33.3%;
    border: green 5px solid;
}
#allComplete{
    display: flex;
    height: 100%;
    width: 100%;
    border: 5px yellow solid;
    justify-content: space-around;
}
#allComplete li{
  padding: 3px;
}
#tomContainerComplete, #stephenContainerComplete, #seanContainerComplete{
  width: 33.3%;
  border: orange 5px solid;
}