*{
    box-sizing: border-box;
    margin: 0;
}
header{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    border: 5px black solid;
}
header h1{
    padding: 5px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}
main h2, h3, form{
    padding: 5px;
}
#allSubmit{
    display: flex;
    height: 100%;
    width: 100%;
    border: 5px red solid;
    justify-content: space-around;
}
#allBacklog{
    display: flex;
    height: 100%;
    width: 100%;
    border: 5px blue solid;
    justify-content: space-around;
}
#allComplete{
    display: flex;
    height: 100%;
    width: 100%;
    border: 5px yellow solid;
    justify-content: space-around;
}