<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script src="https://kit.fontawesome.com/101ed50fce.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="style/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EJS It's in the Game</title>
    </head>

    <header>
        <nav class="topNav">
            <div class="homeMobile">
                <a href="/">Home</a>
            </div>
            <div class="navBucket mobileOnly">
                <button class="bucketButton">|||
                    <i></i>
                </button>
                    <div class="bucketItems">
                        <a href="/">Home</a>
                        <a href="/test">Test Page 1</a>
                        <a href="/test">Test Page 2</a>
                        <a href="/test">Test Page 3</a>
                        <a href="/test">Test Page 4</a>
                        <a href="/about">About</a>
                        <a href="/contact">Contact</a>
                    </div>
            </div>
            <div class="navBucket">
                <button class="bucketButton">Test
                    <i class="fa fa-caret-down"></i>
                </button>
                    <div class="bucketItems">
                        <a href="/test">Test Page 1</a>
                        <a href="/test">Test Page 2</a>
                        <a href="/test">Test Page 3</a>
                        <a href="/test">Test Page 4</a>
                    </div>
            </div>
            <div class="navBucket">
                <button class="bucketButton">About
                    <i></i>
                </button>
                <div class="bucketItems">
                    <a href="/about">About</a>
                    <a href="/contact">Contact</a>
                </div>
            </div>
            <div class="title">
                <p>Game Backlog</p>
            </div>
        </nav>

    <body>
        <main>
            <h3>Contact</h3>
            <p>Twitter:<a href="twitter.com/Darkshadows61">@Darkshadows61</a></p>
            <p>Email: <a href="bisomt@gmail.com">bisomt@gmail.com</a></p>
            <p>Website: <a href="thomasbisom.me">Darkshadows Web Design</a></p>
        </main>

        <script src="js/main.js"></script>
    </body>
</html>
